<!DOCTYPE html>
<html lang="pt-br">
<%- include('../components/head.ejs', {title: 'Pagina Formulario' }); %>

    <body>
        <%- include('../components/header.ejs'); %>
            <div class="content">

                <form action="/formulario" method="POST">
                    <div id="form">
                        <div class="title">Informações da Loja </div>

                        <div class="group">
                            <div class="form-group nome">
                                <label for="nome">Nome da Loja:</label>
                                <input type="text" name="nome" placeholder="Insira o nome da sua loja" required />
                            </div>

                            <div class="form-group">
                                <label for="datacadastro">Data:</label>
                                <input type="date" id="datacadastro" name="data" readonly required />
                            </div>
                        </div>

                        <div class="group">
                            <div class="form-group razaosocial">
                                <label for="razaosocial">Razão Social:</label>
                                <input type="text" name="razaosocial" placeholder="Insira a Razão Social" required />
                            </div>

                            <div class="form-group">
                                <label for="logo">Logo:</label>
                                <input type="text" name="logo" placeholder="Insira o link da imagem" required />
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" placeholder="Insira o seu email" required />
                        </div>

                        <div class="group">
                            <div class="form-group">
                                <label for="cnpj">CNPJ:</label>
                                <input type="text" id="cnpj" name="cnpj" placeholder="00.000.000.0000-00" maxlength="18" onkeyup="return mascaraCnpj(event)" onkeypress="return somenteNumeros(event)" required />
                            </div>

                            <div class="form-group">
                                <label for="telefone">Telefone:</label>
                                <input type="tel" id ="telefone" name="telefone" maxlength="13" onkeyup="return mascaraTelefone(event)" onkeypress="return somenteNumeros(event)" placeholder="(00)0000-0000" required />
                            </div>
                            <div class="form-group">
                                <label for="celular">Celular:</label>                
                                <input type="tel" id = "celular" name="celular" maxlength="14" onkeyup="return mascaraCelular(event)" onkeypress="return somenteNumeros(event)" placeholder="(00)00000-0000"/>
                            </div>
                        </div>

                        <div class="group">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select name="status" required id="status">
                                    <option value="">---</option>
                                    <% opcoesStatus.map(item=> { %>
                                        <option value="<%= item.value %>">
                                            <%= item.label %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="temfuncionarios">Funcionários:</label>
                                <div class="radio-funcionarios">
                                    <% opcoesTemFuncionario.map(item=> { %>
                                        <input name = "temfuncionarios" onchange="onChangeRadioButtonTemFuncionario(this)" id="temfuncionarios" type="radio" value="<%= item.value %>">
                                        <%= item.label %>
        
                                            <% }) %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="numerofuncionarios">Quantos:</label>
                                <input type="number" id="numerofuncionarios" name="numerofuncionarios"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tiporestaurante">Tipo de Restaurante:</label>
                            <select name="tiporestaurante" required id="tiporestaurante">
                                <option value="">---</option>
                                <% opcoesTiposDeRestaurante.map(item=> { %>
                                    <option value="<%= item.value %>">
                                        <%= item.label %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>

                        <div class="group">
                            <div class="form-group">
                                <label for="cep">CEP:</label>
                                <input type="text" name="cep" id="cep" class="form-control cep-mask" onchange="onChangeBuscaCep(this)" placeholder="00000-000" 
                                maxlength="10" onkeyup="return mascaraCep(event)" onkeypress="return somenteNumeros(event)"required />
                            </div>
                            <div class="form-group">
                                <label for="bairro">Bairro:</label>
                                <input type="text" id="bairro" name="bairro" required />
                            </div>
                            <div class="form-group rua">
                                <label for="rua">Rua:</label>
                                <input type="text" id="rua" name="rua" required />
                            </div>
                        </div>

                        <div class="group">
                            <div class="form-group">
                                <label for="numero">Número:</label>
                                <input type="text" name="numero" required />
                            </div>
                            <div class="form-group">
                                <label for="complemento">Complemento:</label>
                                <input type="text" name="complemento" />
                            </div>
                            <div class="form-group referencia">
                                <label for="referencia">Referência:</label>
                                <input type="text" name="referencia" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea name="descricao" rows="5" required> </textarea>
                        </div>

                        <div class="div-checkbox">
                            <input type="checkbox" name="submeterinformacoes" required>
                            <label for="submeterinformacoes">Submeto como verdadeiras as informações aqui
                                apresentadas</label>
                        </div>

                        <button>Enviar</button>
                </form>
            </div>
            <script src="/js/script.js"></script>
    </body>

</html>